* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }
  html, body {
    scroll-behavior: smooth;
    overflow: auto;
  }
  
  img {
    pointer-events: none;
  }

body {
    background-color: white !important;
}

::-webkit-scrollbar-track {
  background: #FFF;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #00b853;
  border-radius: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #00b853;
}

